<h1><img src="<%= image_path("lock_icon.png")%>" id="lock_icon" alt="conexão segura" title="Conexão Segura"> Carrinho de compras</h1>

<% if session[:cart].size > 0 %>
  <%= simple_form_for(:cart, :url => update_cart_path, :method => :put, :remote => true,  html: { class: 'cart', id: 'cart' }) do |f| %>

    <table class="cart-page-table table">
      <thead>
        <tr>
          <td>T&iacute;tulo</td>
          <td>Quantidade</td>
          <td>Pre&ccedil;o</td>
        </tr>
      </thead>

      <tbody>
        <% session[:cart].each do |item| %>
        <%
          book = Book.find(item[:book_id])
          book_type = item[:book_type]
          quantity = item[:quantity]
        %>
        <!-- ga tracking attributes -->
          <tr class="cart-item"
            data-book-target-id="<%=book.id%>"
            data-book-id="<%=book.id%>"
            data-book-isbn="<%=book.isbn%>"
            data-book-slug="<%=book.slug%>"
            data-book-author="<%=authors(book)%>"
            data-book-title="<%=book.title%>"
            data-book-category="<%=book.category.name%>"
            data-book-publisher="<%=book.publisher.name%>"
            data-book-quantity="<%=quantity%>"
            data-book-type="<%=book_type%>"
            data-book-price="<%=show_price(book, book_type)%>"
            data-book-promotion="<%= find_promotion(book).try(:id) %>"
          >
            <td>
              <%= content_tag(:div, image_tag(book.cover_url.to_s), :class => 'cart-book-cover cover') %>
              <%= content_tag(:div, content_tag(:p, book.long_title(book_type), :class => 'cart-book-title') + content_tag(:p, authors(book), :class => 'cart-book-authors'), :class => 'cart-book-data') %>
            </td>
            <td class="cart-page-book-quantity" data-book-id="<%=book.id%>">

                <div class="actions">
                  <%= f.submit "-", :onclick => "decrease(cart_#{book.id}_#{book_type});", class: "btn-link quantity-sign pull-left" %>
                  <%= f.input "#{book.id}_#{book_type}", :label => false, :input_html => { :value => "#{quantity}", class: "book-quantity text-center", readonly: true } %>
                  <%= f.submit "+", :onclick => "increase(cart_#{book.id}_#{book_type});", class: "quantity-sign btn-link pull-right" %>
                </div>

                <div class="remove" style="clear: left !important;">
                  <%= link_to("REMOVER ITEM", remove_from_cart_path(book.id, book_type: book_type), {:method => :post, :style=>'color:#999;'}) %>
                </div>

            </td>
            <td class="cart-page-book-price">
              <%= number_to_currency(show_price(book, book_type).*(quantity)) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td id="cart-form-total" colspan="3">
            <%= link_to 'Continuar Comprando', root_path, :class => 'btn btn-primary', :id => 'continue-buying-btn'%>
            <%= link_to 'Finalizar Compra', close_cart_path, :class => 'btn btn-primary' %>
            Total <span><%= number_to_currency(cart_total) %></span>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>

<% else %>
  <p>Voc&ecirc; n&atilde;o tem livros no carrinho.</p>
<% end %>

<script>
function decrease(elem) {
  value = $(elem).val();
  if (value == '0') return;
  $(elem).val(parseInt(value) - 1);
}

function increase(elem) {
  value = $(elem).val();
  $(elem).val(parseInt(value) + 1);
}

$('#cart').on('ajax:success', function (e, data, status, xhr) {
  $('#cart-details-container .container').html(xhr.responseText);
}).on('ajax:error', function () {
  window.location.href = "/carrinho";
});
</script>
