<div class="shipment-selection">
  <h3> <i class="icon-truck"></i> Cálculo de frete </h3>
  <span> Calculo realizado para el CEP ingresado previamente: <b><%=@default_address.zip_code%></b></span>
  <span>Para un nuevo cálculo, cambia el CEP en el cuadro de arriba.</span>

  <div class="row" id="shipment-types">
    <div class="span6">
      <% @shipment_costs.each do |name, values| %>
        <label class="radio">
          <input type="radio" name="shipement-type" value="<%=name%>"/> <%=name.to_s.capitalize%>
          <span class="delivery-time">(Plazo de entrega: <%= values[:shipping_time] %> dias úteis)</span>
        </label>
        <br/>
      <% end %>
    </div>
    <div class="span4">
      <% @shipment_costs.each do |name, values| %>
        <label class="label" style="font-size: 18px">
          Costo: R$ <%=values[:cost]%><br/>
        </label>
        <br/>
      <% end %>
    </div>
  </div>
</div>
