<% page_data :title => 'Carrinho de compras', :type => 'other' %>

<div id="payment-method-choosing">
  <div id="payment_cart" class="related">
    <div class="container">
      <h1><img src="<%= image_path("lock_icon.png")%>" id="lock_icon" alt="conexão segura" title="Conexão Segura"> Carrinho de compras</h1>

      <% if session[:cart].size > 0 %>
        <%= simple_form_for(:cart, :url => update_cart_path, :method => :put,  html: { class: 'cart' }) do |f| %>

          <table class="cart-page-table table">
            <thead>
              <tr>
                <td>T&iacute;tulo</td>
                <td>Quantidade</td>
                <td>Peso</td>
                <td>Pre&ccedil;o</td>
                <td>Remover</td>
              </tr>
            </thead>

            <tbody>
              <% session[:cart].each do |item| %>
              <% 
                book = Book.find(item[:book_id])
                book_type = item[:book_type]
                quantity = item[:quantity] 
              %>
              <!-- ga tracking attributes -->
                <tr class="cart-item"    
                  data-book-target-id="<%=book.id%>"
                  data-book-id="<%=book.id%>"
                  data-book-isbn="<%=book.isbn%>" 
                  data-book-slug="<%=book.slug%>" 
                  data-book-author="<%=authors(book)%>"
                  data-book-title="<%=book.title%>"
                  data-book-category="<%=book.category.name%>"
                  data-book-publisher="<%=book.publisher.name%>"
                  data-book-quantity="<%=quantity%>"
                  data-book-type="<%=book_type%>"
                  data-book-price="<%=show_price(book, book_type)%>"
                  data-book-promotion="<%= find_promotion(book).try(:id) %>"
                >
                  <td>
                    <%= content_tag(:div, image_tag(book.cover_url.to_s), :class => 'cart-book-cover cover') %>
                    <%= content_tag(:div, content_tag(:p, book.long_title(book_type), :class => 'cart-book-title') + content_tag(:p, authors(book), :class => 'cart-book-authors'), :class => 'cart-book-data') %>
                  </td>
                  <td class="cart-page-book-quantity" data-book-id="<%=book.id%>">
                    <%= f.input "#{book.id}_#{book_type}", :label => false, :input_html => { :value => "#{quantity}", class: "book-quantity" } %>
                  </td>
                  <td class="cart-page-book-weight">
                    <%= (book.weight * 1000).to_i.*(quantity).to_s + "g" if book.weight and book_type != :ebook %>
                  </td>
                  <td class="cart-page-book-price">
                    <%= number_to_currency(show_price(book, book_type).*(quantity)) %>
                  </td>
                  <td class="cart-page-remove-item" data-book-id="<%=book.id%>">
                    <%= link_to("x", remove_from_cart_path(book.id, book_type: book_type), :method => :post) %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td id="cart-form-total" colspan="5">
                  <%= f.submit 'Atualizar carrinho', :class => 'btn-link' %>
                  Total <span><%= number_to_currency(cart_total) %></span>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>

      <% else %>
        <p>Voc&ecirc; n&atilde;o tem livros no carrinho.</p>
      <% end %>
    </div>
  </div>

  <div id="payment_user" class="related">
    <div class="container">
      <%- if current_user %>
          <%= render '/checkout/second_step' %>
      <%- else %>
          <%= render '/checkout/sign_up_or_sign_in', standalone: false %>
      <%- end %>
    </div>
  </div>

  <div class="payment-type">
  <div class="container">
    <h1>Segundo passo: m&eacute;todo de pagamento</h1>
  </div>

  <div class="container">
    <h4 id="link_to_payment_card" class="payment-choose"><input type="radio" /><%= fa_icon 'credit-card' %>  Cart&atilde;o de Cr&eacute;dito</h4>
  </div>

  <div id="payment_card">
    <div class="container">
      
      <div class="card-wrapper"></div>

      <div class="alert alert-error" style="display: none;"><ul></ul></div>

      <%= form_tag({controller: :payment, action: :credit_card} ) do %>

        <div class="row">
          <div class="span4"><input autocomplete="off" data-iugu="number" placeholder="Número do Cartão" type="text" value="" /></div>
          <div class="span6"><input autocomplete="off" data-iugu="full_name" placeholder="Titular do Cartão" type="text" value="" /></div>
        </div>

        <div class="row">
          <div class="span4">
            <%= select_tag("month_expiration", options_for_select((1..12).to_a), prompt: "Mês") %>
            <%= select_tag("year_expiration", options_for_select((Time.now.year..Time.now.year + 10).to_a), prompt: "Ano") %>
            <input data-iugu="expiration" type="hidden" value="" />
          </div>
          <div class="span6"><input autocomplete="off" data-iugu="verification_value" placeholder="CVV" type="text" value="" /></div>
        </div>

        <div class="row">
          <div class="span10"><%= select_tag("months", options_for_select(options_for_installment(cart_total)), prompt: "Parcelamento")%></div>
        </div>

        <input type="hidden" name="token" id="token"/>
        <div class="shipment">
          <%= render "shipment_selection", cep: @cep if includes_print_books? %>
          <%= render "address", :payment_method => :credit_card%>
        </div>
        <input type="submit" class="btn" value="Pagar  (Cartão de Crédito)" />
      <% end %>
    </div>
  </div>

  <div class="container">
    <h4 id="link_to_payment_slip" class="payment-choose"><input type="radio" /><%= fa_icon :barcode %> Boleto Banc&aacute;rio</h4>
  </div>

  <div id="payment_slip">
    <div class="container">

      <div class="alert alert-error" style="display: none;"><ul></ul></div>

      <%= form_tag({controller: :payment, action: :bank_slip} ) do %>

        <h3><i class="fa fa-user"></i> Dados Pessoais</h3>

        <div class="row">
          <div class="span6"><input type="text" placeholder="Nome no boleto" name="client_name" myrequired /></div>
        </div>
        <div class="shipment">
          <%= render "shipment_selection", cep: @cep if includes_print_books? %>
          <%= render "address", :payment_method => :bank_slip %>
        </div>
        <input type="submit" class="btn" value="Pagar  (Boleto Bancário)" />
      <% end %>

    </div>
  </div>

  <div class="container">
    <h4 id="link_to_payment_paypal" class="payment-choose"><input type="radio" /> Paypal</h4>
  </div>

  <div id="payment_paypal">
    <div class="container">
      <div class="alert alert-error" style="display: none;"><ul></ul></div>
      <%= form_tag({controller: :checkout, action: :finish} ) do %>
        <div class="shipment">
          <%= render "shipment_selection", cep: @cep if includes_print_books?  %>
          <%= render "address", :payment_method => :paypal%>
        </div>
        <input type="submit" class="btn" value="Pagar  (Paypal)" />
      <% end %>
    </div>
  </div>

  <div class="modal hide fade" id="payment-modal" aria-hidden="true" style="display: none;">
    <div class="modal-body">
      <h5><i class="fa fa-spinner fa-spin fa-3x"></i> <em>Espera...</em></h5>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">
$('#payment_card form').card({
  container: $('.card-wrapper'),
  numberInput: 'input[data-iugu="number"]',
  expiryInput: 'select[name="month_expiration"], select[name="year_expiration"] ',
  cvcInput: 'input[data-iugu="verification_value"]',
  nameInput: 'input[data-iugu="full_name"]'
})
</script>
