<div class='container'>
  <h1>Pedido realizado com sucesso</h1>
  <p>O número do seu pedido é <b><%= @transaction.order.id %></b>.</p>
  <p>Você receberá os detalhes do seu pedido no email: <b><%= current_user.email %></b></p>
  <p>Obrigado por comprar em nosso site. Desejamos uma boa leitura.</p>
</div>

<% if Rails.env.production? and @transaction and @transaction.status == Transaction::COMPLETED %>
  <!-- Google Code for book purchase Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1019919366;
  var google_conversion_language = "en";
  var google_conversion_format = "1";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "S7EKCLKWywkQhviq5gM";
  var google_conversion_value = <%= @transaction.order.total%>;
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1019919366/?value=<%= @transaction.order.total%>&amp;label=S7EKCLKWywkQhviq5gM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>

  <!-- Facebook Conversion Code for book purchase -->
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6017073973769', {'value':'<%= @transaction.order.total%>','currency':'BRL'}]);

  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6017073973769&amp;cd[value]=<%= @transaction.order.total%>&amp;cd[currency]=BRL&amp;noscript=1" /></noscript>

<% end %>