<article class="book-list-item row">
  <div class="item-cover cover span2">
    <%= link_to(image_tag(book.cover_url(:thumb).to_s), book) %>
  </div>

  <% if book.has_price? %>
    <div class="item-info span7">
      <h3 class="book-title"><%= link_to book.title, book %></h3>
      <h4 class="book-authors"><%= authors(book) %></h4>
      <div class="item-description">
        <%= description_lead book %>
      </div>
    </div>
    <div class="item-price span3">
      <% if find_promotion(book) %>
        <div class="promotion">
          <ul class="buy">
            <li>
              <%= link_to add_to_cart_path(book), :method => :post, :class => 'btn btn-primary' do%>
              <span class="type"><%= number_to_percentage(show_discount(find_promotion(book), book), precision: 0)%> OFF</span>
              <span class="price"><%= number_to_currency(show_price(book))%></span>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="list-price2">
          <ul class="buy">
            <li>
              <%= link_to add_to_cart_path(book), :method => :post, :class => 'btn btn-primary' do%>
              <span class="type">Compre</span>
              <span class="price"><%= number_to_currency(show_price(book))%></span>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="item-info span10">
      <h3 class="book-title"><%= link_to book.title, book %></h3>
      <h4 class="book-authors"><%= authors(book) %></h4>
      <div class="item-description">
        <%= description_lead book %>
      </div>
    </div>
  <% end %>
</article>
