<% if feature.feature_image.present? %>
  <article class="row">
    <div class="span12 feature-image-container">
      <%= link_to(image_tag(feature.feature_image_url(:home), :class => "feature-image"), tag_page_path(feature.page.tag.slug)) %>
    </div>
  </article>
<% else %>
  <article class="row">
    <div class="cover span3">
      <%= link_to(image_tag(feature.book.cover_url.to_s), feature.book) %>
    </div>
    <div class="span7">
      <h2><%= link_to feature.book.title, feature.book %></h2>
      <h3><%= authors(feature.book) %></h3>
      <p><%= description_lead feature.book %></p>
    </div>
  </article>
<% end %>
