<% if feature.feature_image.present? %>
  <!-- ga tracking for banner promotions -->
  <article class="feature-item" 
    data-feature-id="<%=feature.id%>"
    data-feature-slug="<%=feature.slug%>"
    data-feature-position="<%=feature_counter%>"
  >
    <div class="feature-image-container">
      <% if feature.site_page.present? %>
        <%= link_to(image_tag(feature.feature_image_url(:home), :class => "feature-image"), tag_page_path(feature.site_page.tag.slug)) %>
      <% else %>
        <%= link_to(image_tag(feature.feature_image_url(:home), :class => "feature-image"), feature.external_site_url) %>
      <% end %>
    </div>
  </article>
<% elsif feature.book.present? %>
  <article class="feature-item">
    <div class="feature-cover cover">
      <%= link_to(image_tag(feature.book.cover_url.to_s), feature.book) %>
    </div>
    <div class="feature-data">
      <h2 class="book-title"><%= link_to feature.book.title, feature.book %></h2>
      <h3 class="book-authors"><%= authors(feature.book) %></h3>
      <%= description_lead feature.book %>

      <% discount_price = show_price(feature.book, :print)%>
      <% have_discount_price = discount_price != feature.book.price_print %>

      <% if have_discount_price %>
        <div class="promotion-div">
          <span>de </span><span class="price"><%= number_to_currency(feature.book.price_print)%></span>
        </div>
      <% end %>

      <ul class="buy">
        <li>
          <%= link_to add_to_cart_path(feature.book, book_type: :print), :method => :post, :class => "btn btn-primary #{'promotion-css' if have_discount_price}" do%>
            <span class="type">Compre</span>
            <span class="price"><%= number_to_currency(discount_price)%></span>
          <% end %>
        </li>
      </ul>
    </div>
  </article>
<% end %>
