<% if feature.feature_image.present? %>
  <article class="feature-item">
    <div class="feature-image-container">
      <% if feature.page.present? %>
        <%= link_to(image_tag(feature.feature_image_url(:home), :class => "feature-image"), tag_page_path(feature.page.tag.slug)) %>
      <% else %>
        <%= link_to(image_tag(feature.feature_image_url(:home), :class => "feature-image"), feature.external_site_url) %>
      <% end %>
    </div>
  </article>
<% else %>
  <article class="feature-item">
    <div class="feature-cover cover">
      <%= link_to(image_tag(feature.book.cover_url.to_s), feature.book) %>
    </div>
    <div class="feature-data">
      <h2 class="book-title"><%= link_to feature.book.title, feature.book %></h2>
      <h3 class="book-authors"><%= authors(feature.book) %></h3>
      <%= description_lead feature.book %>
      <% if find_promotion(feature.book) %>
        <div class="promotion">
          <div><span>de </span><span class="price"><%= number_to_currency(feature.book.price_print)%></span></div>
          <ul class="buy">
            <li>
              <%= link_to add_to_cart_path(feature.book), :method => :post, :class => 'btn btn-primary' do%>
              <span class="type">Compre</span>
              <span class="price"><%= number_to_currency(show_price(feature.book))%></span>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <ul class="buy">
          <li>
            <%= link_to add_to_cart_path(feature.book), :method => :post, :class => 'btn btn-primary' do%>
            <span class="type">Compre</span>
            <span class="price"><%= number_to_currency(show_price(feature.book))%></span>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </article>
<% end %>
