<article class="row">

  <div class="recommendation-item-cover cover span2">
    <%= link_to(image_tag(recommendation.cover_url.to_s), recommendation) %>
  </div>

  <% if recommendation.has_price? %>
    <div class="recommendation-item-info span7">
      <h3><%= link_to recommendation.title, recommendation %></h3>
      <h4><%= formatted_list(book_team(recommendation)["Texto"]) rescue "" %></h4>
      <div class="recommendation-item-description">
        <%= truncate_html(recommendation.description, length: 380) %>
      </div>
    </div>
    <div class="recommendation-item-price span3">
      <%= list_price(recommendation) %>
    </div>
  <% else %>
    <div class="recommendation-item-info span10">
      <h3><%= link_to recommendation.title, recommendation %></h3>
      <h4><%= formatted_list(book_team(recommendation)["Texto"]) rescue "" %></h4>
      <div class="recommendation-item-description">
        <%= truncate_html(recommendation.description, length: 380) %>
      </div>
    </div>
  <% end %>

</article>
