<% page_data :title => 'Carrinho de compras', :type => 'other' %>

<div id="tag">
  <div class="container">
    <%= yield :h1 %>

    <table class="cart-page-table table">
      <thead>
        <tr>
          <td>Título</td>
          <td>Quantidade</td>
          <td>Peso</td>
          <td>Preço</td>
          <td>Remover</td>
        </tr>
      </thead>

      <tbody>
        <% @cart_books.each do |book, amount| %>
          <tr>
            <td>
              <%= content_tag(:div, image_tag(book.cover_url.to_s), :class => 'cart-book-cover cover') %>
              <%= content_tag(:div, content_tag(:p, book.title, :class => 'cart-book-title') + content_tag(:p, authors(book), :class => 'cart-book-authors'), :class => 'cart-book-data') %>
            </td>
            <td>
              <%= amount %>
            </td>
            <td class="cart-page-book-weight">
              <%= (book.weight * 1000).to_i %>g
            </td>
            <td class="cart-page-book-price">
              <%= number_to_currency(book.price_print) %>
            </td>
            <td class="cart-page-remove-item">
              <%= link_to("x", remove_from_cart_path(book.id), :method => :post) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td id="cart-form-total" colspan="5">
            Total <span><%= total_cart_price(@cart_books) %></span>
          </td>
        </tr>
      </tbody>
    </table>
    <%= render :partial => 'pagseguro_form_cart' %>
  </div>
</div>
