<% page_data :title => 'Carrinho de compras', :type => 'other' %>

<div id="tag">
  <div class="container">
    <%= yield :h1 %>

    <table class="cart-page-table table">
      <thead>
        <tr>
          <td>Título</td>
          <td>Quantidade</td>
          <td>Peso</td>
          <td>Preço</td>
          <td>Remover</td>
        </tr>
      </thead>

      <tbody>
        <% @cart_books.each do |book| %>
          <tr>
            <td>
              <%= content_tag(:div, image_tag(book.cover_url.to_s), :class => 'cart-page-book-cover cover') %>
              <%= content_tag(:div, content_tag(:p, book.title, :class => 'cart-page-book-title') + content_tag(:p, authors(book), :class => 'cart-page-book-authors'), :class => 'cart-page-book-data') %>
            </td>
            <td>

            </td>
            <td>
              <%= book.weight %>
            </td>
            <td>
              <%= number_to_currency(book.price_print) %>
            </td>
            <td>
              <%= link_to("x", remove_from_cart_path(book.id), :method => :post) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td id="cart-form-total" colspan="5">
            Total <%= number_to_currency(@cart_books.inject(0) { |sum, obj| sum += obj.price_print }) %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= render 'layouts/pagseguro_form_cart' %>
  </div>
</div>
