<% page_data :title => @tag.name, :type => 'article' %>
<div id="tag">
  <div class="container">
    <%= yield :h1 %>
  </div>

  <% if @page %>
    <% if @page.hero_image.present? %>
      <div id="hero">
        <div class="container">
          <%= content_tag(:div, image_tag(@page.hero_image.to_s), :class => 'hero-image') %>
        </div>
      </div>
    <% end %>
    <div id="extra">
      <div class="container">
        <% if @page.tag_image.present? && @page.body.present? %>
          <div class="row">
            <div class="span4">
              <%= content_tag(:div, image_tag(@page.tag_image.to_s), :class => 'tag-image') %>
            </div>
            <div class="span8">
              <%= @page.body.html_safe %>
            </div>
          </div>
        <% elsif @page.body %>
            <%= @page.body.html_safe %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="container">
    <div id="tag-list">
      <%= render :partial => 'pages/book', :collection => @books %>
    </div>
  </div>
</div>
