<% page_data :title => @tag.name, :type => 'article' %>
<div id="tag">
  <div class="container">
    <%= yield :h1 %>

    <% if @page %>
      <%= content_tag(:div, image_tag(@page.hero_image.to_s), :id => 'hero', :class => 'hero-unit') if @page.hero_image.present?  %>
      <div id="extra">
        <%= content_tag(:div, image_tag(@page.tag_image.to_s), :id => 'image') if @page.tag_image.present? %>
        <%= @page.body if @page.body.present? %>
      </div>
    <% end %>

    <div id="tag-list">
      <%= render :partial => 'pages/book', :collection => @books %>
    </div>
  </div>
</div>
