<% page_data :title => @book.title, :type => 'book', :image => "#{request.protocol}#{request.host_with_port}#{@book.cover_url.to_s}", :description => meta_cleanup(@book.description) %>
<div class="container">
  <div class="book-page row">
    <aside class="book-info span3">
      <div class="book-info-cover">
        <%= image_tag @book.cover_url.to_s %>
      </div>
      <div class="book-info-data">
        <dl>
          <% book_team(@book).each do |role, people| %>
            <%= content_tag :dt, role %>
            <%= content_tag :dd, formatted_list(people) %>
          <% end %>
        </dl>
      </div>
    </aside>
    <div class="row">
      <div class="span9">
        <%= yield :h1 %>
        <h2><%= authors(@book) %></h2>
      </div>
      <% if @book.has_price? %>
        <div class="row">
          <div class="book-text span6">
            <%= @book.description.html_safe %>
          </div>
          <aside class="book-price span3">
            <%= list_price(@book) %>
          </aside>
        </div>
      <% else %>
        <div class="book-text span9">
          <%= @book.description.html_safe %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="book-supplementary-info row">
    <div class="span3">
      <h3>Ficha técnica</h3>
      <dl>
        <%= book_stats(@book) %>
      </dl>
    </div>
    <div class="span6">
    </div>
    <div id="share" class="span3">
      <%= render 'share' %>
    </div>
  </div>

</div>
