<div class="book-page row">
  <aside class="book-info span3">
    <div class="book-info-cover">
      <%= image_tag @book.cover_url.to_s %>
    </div>
    <div class="book-info-data">
      <dl>
        <% book_team(@book).each do |role, person| %>
          <%= content_tag :dt, role %>
          <%= content_tag :dd, person %>
        <% end %>
      </dl>
    </div>
  </aside>
  <div class="span9">
    <h1><%= @book.title %></h1>
    <h2><%= book_authors(@book) %></h2>
    <p><%= @book.description %></p>
  </div>
</div>


