<div class="container">
  <div class="book-page row">
    <aside class="book-info span3">
      <div class="book-info-cover">
        <%= image_tag @book.cover_url.to_s %>
      </div>
      <div class="book-info-data">
        <dl>
          <% book_team(@book).each do |role, people| %>
            <%= content_tag :dt, role %>
            <%= content_tag :dd, formatted_list(people) %>
          <% end %>
        </dl>
      </div>
    </aside>
    <div class="book-text span9">
      <h1><%= @book.title %></h1>
      <h2><%= formatted_list(book_team(@book)["Texto"]) %></h2>
      <p><%= @book.description.html_safe %></p>
    </div>
  </div>
  <div class="book-supplementary-info row">
    <div class="span3">
      <h3>Especificações</h3>
      <dl>
        <%= book_stats(@book) %>
      </dl>
    </div>
    <div class="span9">
    </div>
  </div>
</div>
