<div class="book-page row">
  <aside class="book-info span3">
    <div class="book-info-cover">
      <%= image_tag @book.cover_url.to_s %>
    </div>
    <div class="book-info-data">
      <dl>
        <% book_team(@book).each do |role, person| %>
          <%= content_tag :dt, role %>
          <%= content_tag :dd, person %>
        <% end %>
      </dl>
    </div>
  </aside>
  <div class="book-text span9">
    <h1><%= @book.title %></h1>
    <h2><%= book_authors(@book) %></h2>
    <p><%= @book.description %></p>
  </div>
</div>
<div class="book-supplementary-info row">
  <div class="span3">
    <h3>Especificações</h3>
    <dl>
      <dt>Idioma</dt>
      <dd><%= @book.languages.first.name %></dd>
      <dt>Encadernação</dt>
      <dd><%= @book.binding_type.name %></dd>
      <dt>Dimensões</dt>
      <dd><%= raw("#{@book.width} &times; #{@book.height} cm") %></dd>
      <dt>Peso</dt>
      <dd><%= @book.weight %></dd>
      <dt>Ano de lançamento</dt>
      <dd><%= @book.released_at.year %></dd>
      <dt>Número de páginas</dt>
      <dd><%= @book.pages %></dd>
    </dl>
  </div>
  <div class="span9">
  </div>
</div>
