<% title @book.title %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=137041543061914";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

  <div class="book-page row">
    <aside class="book-info span3">
      <div class="book-info-cover">
        <%= image_tag @book.cover_url.to_s %>
      </div>
      <div class="book-info-data">
        <dl>
          <% book_team(@book).each do |role, people| %>
            <%= content_tag :dt, role %>
            <%= content_tag :dd, formatted_list(people) %>
          <% end %>
        </dl>
      </div>
    </aside>
    <div class="row">
      <div class="span9">
        <%= yield :h1 %>
        <h2><%= formatted_list(book_team(@book)["Texto"]) %></h2>
      </div>
      <% if @book.has_price? %>
        <div class="row">
          <div class="book-text span6">
            <p><%= @book.description.html_safe %></p>
          </div>
          <aside class="book-price span3">
            <%= list_price(@book) %>
          </aside>
        </div>
      <% else %>
        <div class="book-text span9">
          <%= @book.description.html_safe %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="book-supplementary-info row">
    <div class="span3">
      <h3>Ficha técnica</h3>
      <dl>
        <%= book_stats(@book) %>
      </dl>
    </div>
    <div class="span6">
      <h3>Tags</h3>
    </div>
    <div id="share" class="span3">
      <h3>Compartilhe</h3>
      <ol>
        <li class="facebook">
          <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        </li>
        <li class="twitter">
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </li>
        <li class="googleplus">
          <!-- Place this tag where you want the +1 button to render. -->
          <div class="g-plusone" data-size="medium"></div>

          <!-- Place this tag after the last +1 button tag. -->
          <script type="text/javascript">
            window.___gcfg = {lang: 'pt-BR'};

            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </li>
      </ol>
    </div>
  </div>

</div>
