<% page_data :title => @book.title, :type => 'book', :image => "#{request.protocol}#{request.host_with_port}#{@book.cover_url.to_s}", :description => meta_cleanup(@book.description) %>
<div class="container">
  <div class="book-page row">
    <%= render 'aside', :book => @book %>
    <div class="span9">
      <%= yield :h1 %>
      <h2 class="book-authors"><%= authors(@book) %></h2>
      <ul id="taglist">
        <%= book_tags(@book) %>
      </ul>
    </div>
    <% if @book.has_price? %>
      <div class="row">
        <div class="book-text span6">
          <%= @book.description.html_safe %>
        </div>
        <aside class="book-price span3">
          <div class="list-price">
            <% if find_promotion(@book) %>
              <div class="promotion-div">
                <span>de </span><span class="price"><%= number_to_currency(@book.price_print)%></span>
              </div>
            <% end %>

            <ul class="buy">
              <% if @book.price_print%>
                <li>
                  <%= link_to add_to_cart_path(@book, book_type: :print), :method => :post, :class => "btn btn-primary #{'promotion-css' if find_promotion(@book)}" do%>
                    <span class="type">compre</span>
                    <span class="price"><%= number_to_currency(show_price(@book, :print))%></span>
                  <% end %>
                </li>
              <% end %>
              <% if @book.price_ebook%>
                <li>
                  <%= link_to add_to_cart_path(@book, book_type: :ebook), :method => :post, :class => 'btn btn-primary' do%>
                    <span class="type">compre (ebook)</span>
                    <span class="price"><%= number_to_currency(show_price(@book, :ebook))%></span>
                  <% end %>
                </li>
              <% end %>
              <% if @book.packet_discount%>
                <li>
                  <%= link_to add_to_cart_path(@book, book_type: :packet), :method => :post, :class => 'btn btn-primary' do%>
                    <span class="type">compre (ebook+livro)</span>
                    <span class="price"><%= number_to_currency(show_price(@book, :packet))%></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>

        </aside>
      </div>
    <% else %>
      <div class="book-text span9">
        <%= @book.description.html_safe %>
      </div>
    <% end %>
  </div>
</div>

<div id="book-supplementary-info">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h3>Ficha técnica</h3>
        <dl>
          <%= book_stats(@book) %>
        </dl>
      </div>
      <div class="span6">
      </div>
      <div id="share" class="span3">
        <%= render 'share' %>
      </div>
    </div>
  </div>
</div>

<% if @related_books.present? %>
  <div class="related">
    <div class="container">
      <h2 class="heading">Livros relacionados</h2>
      <div class="related-list row">
        <%= render :partial => 'pages/related_book', :collection => @related_books %>
      </div>
    </div>
  </div>
<% end %>
