<div class="blog-post">
  <div class="container">
    <h5 class="post-date"><%= post.published_at.strftime("%d-%m-%Y") %></h5>
    <h2 class="post-title">
      <%= link_to post.title, blog_post_path(post) %>
    </h2>
    <div class="row">
      <% if post.book.present? %>
        <%= render "books/aside", :book => post.book %>
        <div class="span9">
          <%= simple_format(truncate(post.body, :length => 800, :omission => "...&nbsp;"+ link_to("Leia mais", blog_post_path(post)) )) %>
        </div>
      <% else %>
        <div class="span12">
          <%= simple_format(truncate(post.body, :length => 800, :omission => "...&nbsp;"+ link_to("Leia mais", blog_post_path(post)) )) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
