<% page_data :title => @post.title, :type => 'blog', :description => meta_cleanup(@post.body) %>

<div class="blog-post">
  <div class="container">
    <h5 class="post-date"><%= @post.published_at.strftime("%d-%m-%Y") %></h5>
    <h2 class="post-title">
      <%= @post.title %>
    </h2>
    <div class="row">
      <% if @post.book.present? %>
        <%= render "books/aside", :book => @post.book %>
        <div class="span9">
          <%= @post.body.html_safe %>
          <div class="row blog-foot">
            <div class="span6"></div>
            <div id="share" class="span3"><%= render 'books/share' %></div>
          </div>
        </div>
      <% else %>
        <div class="span12">
          <%= @post.body.html_safe %>
          <div class="row blog-foot">
            <div class="span9"></div>
            <div id="share" class="span3"><%= render 'books/share' %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
