<% if current_page? root_path %>
  <h1 class="logo">Editora Hedra</h1>
<% else %>
  <p class="logo"><%= link_to 'Editora Hedra', root_path %></p>
<% end %>

<div class="cart">
  <%= cart_image %>
  <%= total_cart_items %>

  <ul>
    <% session['cart'].each do |b| %>
    <li><%= book_in_cart_for(b) %></li>
    <% end %>
  </ul>
</div>

<nav id="main-nav" role="navigation">
  <ul class="nav nav-pills">
    <li>
      <a class="f" href="#">Catálogo <i class="dropdown-icon"></i></a>
      <ul>
        <% @category_list.each do |category| %>
          <%= content_tag :li, link_to(category.name, category_path(category)) %>
        <% end %>
      </ul>
    </li>
    <li><%= link_to 'Sobre', about_path %></li>
    <li><%= link_to 'Contato', contact_path %></li>
  </ul>
  <div class="social-links">
    <p>Siga</p>
    <ul>
      <li class="facebook"><%= link_to 'Facebook', 'http://www.facebook.com/Editorahedra' %></li><li class="twitter"><%= link_to 'Twitter', 'http://www.twitter.com/hedraonline' %></li>
    </ul>
  </div>
  <form class="navbar-search" action="/livros/busca" method="get">
    <input type="text" class="search-query" name="term">
  </form>
</nav>
