<div class="navbar">
  <%= link_to(image_tag(publisher_logo_img, class: 'logo-selo'), root_path) %>
  <div class="navbar-inner">
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <nav id="main-nav" role="navigation">
        <ul class="nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Catálogo<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% @category_list.each do |category| %>
                <%= content_tag :li, link_to(category.name, category_path(category)) %>
              <% end %>
            </ul>
          </li>
          <li><%= link_to('blog', blog_path) if blog_count > 0 %></li>
          <li><%= link_to 'Sobre', about_path %></li>
          <!-- <li><%= link_to 'Contato', contact_path %></li> -->
        </ul>
      </nav>
      <div class="navadd">
        <div class="social-links">
          <p>Siga</p>
          <ul>
            <li class="facebook"><%= link_to 'Facebook', 'http://www.facebook.com/Editorahedra' %></li><li class="twitter"><%= link_to 'Twitter', 'http://www.twitter.com/hedraonline' %></li>
          </ul>
        </div>
        <form class="navbar-search" action="/livros/busca" method="get">
          <input type="text" class="search-query" name="term">
        </form>
        <div class="cart">
          <%= cart_image %>
          <% if @cart_items.present? %>
            <%= content_tag :span, @cart_items.size, :class => 'cart-count' %>
            <div class="dropdown-menu">
                <ul>
                  <% @cart_items.each do |book, quantity| %>
                    <li><%= book_in_cart_for(book) %></li>
                  <% end %>
                </ul>
              <%= link_to 'Ver carrinho', cart_path, :class => 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
