<div class="navbar">
  <%= link_to 'Hedra', root_path, :class => 'logo' %>
  <div class="navbar-inner">
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <nav id="main-nav" role="navigation">
        <ul class="nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Catálogo<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% @category_list.each do |category| %>
                <%= content_tag :li, link_to(category.name, category_path(category)) %>
              <% end %>
            </ul>
          </li>
          <li><%= link_to 'Sobre', about_path %></li>
          <li><%= link_to 'Contato', contact_path %></li>
          <li><%= link_to 'Blog', blog_path %></li>
        </ul>
      </nav>
      <div class="navadd">
        <div class="social-links">
          <p>Siga</p>
          <ul>
            <li class="facebook"><%= link_to 'Facebook', 'http://www.facebook.com/Editorahedra' %></li><li class="twitter"><%= link_to 'Twitter', 'http://www.twitter.com/hedraonline' %></li>
          </ul>
        </div>
        <form class="navbar-search" action="/livros/busca" method="get">
          <input type="text" class="search-query" name="term">
        </form>
        <div class="cart">
          <%= cart_image %>
          <%= content_tag :span, total_cart_items, :class => 'cart-count' %>
          <div class="dropdown-menu">
            <% if @cart_books %>
              <ul>
                <% @cart_books.each do |book, amount| %>
                  <li><%= book_in_cart_for(book) %></li>
                <% end %>
              </ul>
            <% end %>
            <%= link_to 'Ver carrinho', cart_path, :class => 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
