<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= yield(:title).presence || content_tag(:title, publisher_name) %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!--[if lte IE 8]>
      <%= stylesheet_link_tag    "ie8-and-down", :media => "all" %>
    <![endif]-->
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= yield :meta_tags %>
    <%= yield :og %>
  </head>
  <body>
    <% if current_page?(:controller => 'books', :action => 'show') or current_page?(:controller => 'blog', :action => 'show') %>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=311686698932874";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <% end %>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrap">
      <header id="site-header" role="banner">
        <div class="container">
          <%= render 'layouts/header' %>
        </div>
      </header>
      <div id="main" role="main">
        <%= flash_message %>
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>
    <footer role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="span12">
            <nav id="secondary-nav">
              <ul class="nav nav-pills">
                <li><%= link_to('blog', blog_path) if blog_count > 0 %>
                <li><%= link_to current_publisher.about_label, about_path %></li>
                <li><%= link_to 'Contato', contact_path %></li>
              </ul>
            </nav>
            <p class="company-copyright">Copyright &copy; <%=Date.today.year%>, <%= publisher_name %>.</p>
          </div>
        </div>
        <div id="company-address" class="row">
          <address class="span12">
            <%= publisher_contact %>
          </address>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>

    <%= yield :page_javascripts %>

    <a href="#">
      <img style="position: absolute; top: 0; right: 14.5px; width: 180px; height: auto; border: 0;" src="<%= image_path("fretegratis.png")%>" alt="free shipping">
    </a>

  </body>
</html>
