<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= yield(:title).presence || content_tag(:title, "Editora Hedra") %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta property="og:title" content="Editora Hedra" />
    <meta property="og:type" content="company" />
    <meta property="og:url" content="http://www.hedra.com.br" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Editora Hedra" />
    <meta property="fb:admins" content="534302953" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrap">
      <header id="site-header" role="banner">
        <div class="container">
          <%= render 'layouts/header' %>
        </div>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>
    <footer role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="span12">
            <nav id="secondary-nav">
              <ul class="nav nav-pills">
<!--                 <li><%= link_to 'Catálogo', '#' %></li> -->
                <li><%= link_to 'Sobre', about_path %></li>
                <li><%= link_to 'Contato', contact_path %></li>
              </ul>
            </nav>
            <p class="company-copyright">Copyright &copy; 2012, Hedra Editora.</p>
          </div>
        </div>
        <div id="company-address" class="row">
          <address class="span12">
            Rua Fradique Coutinho 1139, Subsolo
            CEP 05416-011 - São Paulo - SP
            Tel.: (11) 3097-8304
          </address>
        </div>
      </div>
    </footer>
    <script>
      var _gaq=[['_setAccount','UA-34822510-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
