<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= yield(:title).presence || content_tag(:title, publisher_name) %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!--[if lte IE 8]>
      <%= stylesheet_link_tag    "ie8-and-down", :media => "all" %>
    <![endif]-->
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= yield :meta_tags %>
    <%= yield :og %>
    <%= render partial: 'tracking/facebook_pixel_code' %>
    <!-- webmaster tools -->
    <meta name="google-site-verification" content="Mw5tFlfzAzVCBC3jhg2hwHyiss4XjJKyyTX3Opujp-o" />
  </head>
  <body>
    <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MHDJTF"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MHDJTF');</script>
  <!-- End Google Tag Manager -->

    <% if current_page?(:controller => 'books', :action => 'show') or current_page?(:controller => 'blog', :action => 'show') %>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=311686698932874";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <% end %>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrap">
      <header id="site-header" role="banner">
        <%= render 'layouts/header' %>
      </header>
      <div id="main" role="main">
        <%= flash_message %>
        <%= yield %>
      </div>
      <div class="main-footer">
        <%= yield :main_footer %>
      </div>
      <div id="push"></div>
    </div>
    <footer role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="span6">
            <nav id="secondary-nav">
              <ul class="nav nav-pills">
                <li><%= link_to('blog', blog_path, :target => '_blank') if blog_count > 0 %>
                <li><%= link_to current_publisher.about_label, about_path %></li>
                <li><%= link_to 'Contato', contact_path %></li>
              </ul>
            </nav>
            <p class="company-copyright">Copyright &copy; <%=Date.today.year%>, <%= publisher_name %>.</p>
          </div>
          <div class="span6 credit-cards-logo">
            <img src="<%= image_path("cartoes.png")%>" alt="Formas de Pagamento" />
          </div>
        </div>
        <div id="company-address" class="row">
          <address class="span12">
            <%= publisher_contact %>
          </address>
        </div>
      </div>
    </footer>

    <%= yield :page_javascripts %>

    <% if current_publisher.tracking_id && Rails.env.production?  %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= current_publisher.tracking_id %>', 'auto');
        ga('require', 'ec');   // load enhanced ecommerce library
        ga('send', 'pageview');

      </script>
    <% end %>

  </body>
</html>
